#error-text {
  color: red;
  display: none;
}

#errors {
  text-align: center;
}

#login-panel {
  margin: 10pt 440pt;
  border: black solid;
  text-align: center;
}

#logo-panel {
  margin: 0 440pt;
}

.header-panel {
  margin: 0 530pt;
  color: white;
}

.version-panel {
  margin: 0 540pt;
  font-size: 8pt;
  color: white;
}

#login-button {
  margin: 10pt;
}

#create-button {
  margin: 10pt;
}

#username-label {
  margin: 5pt;
  color: white;
}

#username {

}

#pass-label {
  margin: 5pt;
  color: white;
}

#password {

}

#info {
  margin: 5pt;
  align-content: center;
}

#options {
  margin: 5pt;
  text-align: center;
}

#username-input {
  margin: 5pt;
  text-align: center;
  display: inline-block;
}

#password-input {
  margin: 5pt;
  text-align: center;
  display: inline-block;
}
