#error-text {
  color: red;
  display: none;
}

#errors {
  text-align: center;
}

#login-panel {
  margin: 100pt 440pt;
  border: black solid;
}

#login-button {
  margin: 10pt;
}

#create-button {
  margin: 10pt;
}

#username-label {
  margin: 5pt;
}

#username {

}

#pass-label {
  margin: 5pt;
}

#password {

}

#info {
  margin: 5pt;
}

#options {
  margin: 5pt;
  text-align: center;
}

#username-input {
  margin: 5pt;
  text-align: center;
}

#password-input {
  margin: 5pt;
  text-align: center;
}
