table {
  width: 100%;
}

.time-btn {
  background-color: cadetblue;
  border-color: cadetblue;
  color: black;
}

.table-header {
  font-size: 16pt;
  font-weight: bold;
}

.user-name {
  font-size: 12pt;
}

.timeType {
  font-size: 11pt;
  font-weight: normal;
}
