/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

app-root {
  display: block;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  min-height:100%;
}

html{
  height: 100%;
  min-height:100%;
  position:relative;
}

#login-panel {
  background-image: url("assets/loginPanelBG.png");
  background-color: #000000;
}

.login-input-box {
  background-image: url("assets/loginPanelBG.png");
  background-color: #575757;
}

.table-bg {
  background-image: url("assets/tableBG.png");
  background-color: #575757;
  border-image: url("assets/tableBG.png");
}
